{% extends "page-template.html" %}

{% block content %}
	<p>Recategorize Video</p>
	<form class="form-horizontal" method="POST">
		<input type="hidden" name="action" value="video-recategorize"/>
		<input type="text" name="ytid" placeholder="ytid"/>
		<input type="text" name="topic" placeholder="topic"/>
		Seriously <input type="checkbox" name="sure"/>
		<input class="btn" type="submit" value="Submit"/>
	</form>
	<p>Recategorize All Videos</p>
	<form class="form-horizontal" method="POST"/>
		<input type="hidden" name="action" value="video-recategorize-all"/>
		<input type="text" name="topic" placeholder="topic"/>
		Seriously <input type="checkbox" name="sure"/>
		<input class="btn" type="submit" value="Submit"/>
	</form>
	<p>Erase User</p>
	<form class="form-horizontal" method="POST">
		<input type="hidden" name="action" value="user-remove-all"/>
		<input type="text" name="userid" placeholder="userid"/>
		Seriously <input type="checkbox" name="sure"/>
		<input class="btn" type="submit" value="Submit"/>
	</form>
	<p>Remove User Topics</p>
	<form class="form-horizontal" method="POST">
		<input type="hidden" name="action" value="user-remove-topics"/>
		<input type="text" name="userid" placeholder="userid"/>
		Seriously <input type="checkbox" name="sure"/>
		<input class="btn" type="submit" value="Submit"/>
	</form>
	<p>Remove User Videos</p>
	<form class="form-horizontal" method="POST">
		<input type="hidden" name="action" value="user-remove-videos"/>
		<input type="text" name="userid" placeholder="userid"/>
		Seriously <input type="checkbox" name="sure"/>
		<input class="btn" type="submit" value="Submit"/>
	</form>
	<p>Remove Video</p>
	<form class="form-horizontal" method="POST">
		<input type="hidden" name="action" value="video-remove"/>
		<input type="text" name="ytid" placeholder="ytid"/>
		Seriously <input type="checkbox" name="sure"/>
		<input class="btn" type="submit" value="Submit"/>
	</form>
{% endblock %}