{% extends "page-template.html" %}

{% block content %}
	<div class="row">
		<div class="span8 offset2">
			<form class="form-horizontal" method="POST">
        <fieldset>
          {% if message.length %}
            <p class="help-block">{{ message }}</p>
          {% endif %}
          <div class="control-group">
            <label class="control-label">Youtu.be URL</label>
            <div class="controls">
              <input type="text" class="input-xlarge" name="yt-id">
              <p class="help-block">Ga naar je youtube video, klik onderaan op Share ( of Delen ) en kopieer de <em>hele</em> http://youtu.be/... link.</p>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Inzenden</button>
          </div>
        </fieldset>
      </form>
		</div>
	</div>
{% endblock %}