{% extends "page-template.html" %}

{% block head %}
<style>
	.blackShadow {
		box-shadow: 0 0 5px #000;
	}
</style>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="span7">
			<iframe class="blackShadow" width="540" height="360" src="http://www.youtube.com/embed/{{ video.youtubeId }}" frameborder="0" allowfullscreen></iframe>
			{% for vote in votes %}
				{% if vote.comment.length %}
				<div class="alert alert-info">
					{{ vote.comment }}
				</div>
				{% else %}
					<div class="alert alert-info">
						{{ vote.accepted }}
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="span4 offset1">
		  <div id="feedbackForm">
		 	<div class="btn-group" data-toggle="buttons-radio">
              <button class="btn btn-warning" id="btnOk">Goedkeuren</button>
			  <button class="btn btn-warning" id="btnNo">Afkeuren</button>
			</div>
			<form method="POST">
		      <div class="control-group">
                <label class="control-label"></label>
                <input type="hidden" name="youtubeId" value="{{ video.youtubeId }}"/>
                <input type="hidden" name="status" id="inpStatus"/>
                <div class="controls">
                  <textarea class="input-xlarge" rows="3" name="comment" placeholder="Feedback"></textarea>
                </div>
              </div>
              <input type="submit" class="btn" id="btnSubmit" disabled="" value="Bevestigen"/>
            </form>
          </div>
        </div>
	</div>
{% endblock %}

{% block script %}
<script>
	$(function(){
		$('#btnOk').click(function(){
			$('#inpStatus').val('accepted');
			$('#btnSubmit').removeAttr('disabled');
		});
		$('#btnNo').click(function(){
			$('#inpStatus').val('denied');
			$('#btnSubmit').removeAttr('disabled');
		});
		$('#btnSubmit').click(function(){
			return ( $('#inpStatus').val() == "accepted") || ($('#inpStatus').val() == "denied" );
		});
	});
</script>
{% endblock %}